#sketch-board-container {
    height: 600px;
    width: 1000px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}


body {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    flex-direction: column;
    gap: 50px; 
}

.square-in-grid {
    border: 1px solid black;
    flex: 1 1 auto;
}

.white-to-black {
    background-color: #000000
}